{
  Checks: 'clang-diagnostic-*,boost-*,bugprone-*,cert-*,clang-analyzer-*,concurrency-*,cppcoreguidelines-*,misc-*,modernize-*,performance-*,portability-*,readability-*,-readability-implicit-bool-conversion,-readability-braces-around-statements,-cppcoreguidelines-avoid-magic-numbers,-modernize-use-trailing-return-type,-readability-magic-numbers,-cppcoreguidelines-init-variables,-cppcoreguidelines-avoid-non-const-global-variables'
}
