{
  Checks: 'clang-analyzer-*,clang-diagnostic-*,boost-*,concurrency-*,modernize-*,-modernize-use-trailing-return-type,-modernize-avoid-c-arrays,-modernize-use-nodiscard,performance-*,portability-*'
}
