[Desktop Entry]
Type=Application
Name=Create MBSim ME FMU
Comment=Create a Functional Mock-Up Unit (FMU) for Model-Exchange
Icon=mbsim-env.mbsimxmlfmu
Exec=bash -c 'F="%f" && echo -ne "\033]0;MBSim Create Cosim FMU \"$F\"\007" && "@bindir@/mbsimCreateFMU" --CC "$F" && echo -e "\033[32mPROGRAM SUCCEEDED\033[0m - PRESS ENTER TO CLOSE" || echo -e "\033[31mPROGRAM FAILED\033[0m - PRESS ENTER TO CLOSE"; read'
NoDisplay=true
Terminal=true
MimeType=application/vnd.mbsim-env.mbsimflatxml;application/vnd.mbsim-env.mbsimxml;
Categories=Science;ComputerScience;NumericalAnalysis;Physics;Math;Robotics;
