[Desktop Entry]
Type=Application
Name=MBSimGUI
Comment=Multi Body Simulation GUI - Modeling multi body and multi domain simulations
Icon=mbsim-env.mbsimgui
Exec=@bindir@/mbsimgui %f
Terminal=false
MimeType=application/vnd.mbsim-env.mbsimflatxml;application/vnd.mbsim-env.mbsimxml;
Categories=Education;Science;ComputerScience;Math;NumericalAnalysis;Physics;Robotics;Engineering;
