[Desktop Entry]
Type=Application
Name=MBSimGUI
Comment=Multi Body Simulation GUI - Modeling multi body and multi domain simulations
Icon=mbsim-env.mbsimgui
IconWindows="@bindir@/mbsimgui.exe",0
Exec="@bindir@/mbsimgui" %f
ExecWindows="@bindir@/mbsimgui.exe" "%1"
Terminal=false
MimeType=application/vnd.mbsim-env.mbsimflatxml;application/vnd.mbsim-env.mbsimxml;
Categories=Science;ComputerScience;NumericalAnalysis;Physics;Math;Robotics;

[Windows-secondary-shell]
ID=simulate
Name=Simulate with MBSimXML
Exec=cmd /c title MBSimXML "%1" && call "@bindir@/mbsimxml.exe" "%1" && set /p "id=PRESS ENTER TO CLOSE"
