# always ignored files
**/TS*.ombvx
**/MBS*.ombvx
**/*.ombvh5
**/.*.lock
**/*.mbsh5
**/*.o
**/*.o.d
**/main
**/main.d
**/main.exe
**/main.exe.linkmap
**/mbsim.fmu
**/MBS*.ombvx
**/*.mat
**/*.h5
**/fmuCheck.result.csv
**/fmuCheck.result.fmuh5
**/mbsimfmi_model.so
**/mbsimfmi_model.dll
**/mbsimfmi_model.so.d
**/mbsimfmi_model.dll.d
**/mbsimfmi_model.dll.linkmap

# ignored other files
mechanics/contacts/dice_cup/frustum.iv
mechanics/contacts/edge_mill/frustum.iv
mechanics/contacts/multiple_kinematics/Info.txt
mechanics/contacts/plate_polynomialfrustum/Object\[PolynomialFrustum\].Contour\[PolyFrustumContourMBS\].iv
mechanics/contacts/sphere_polynomialfrustum/Object\[PolynomialFrustum\].Contour\[PolyFrustumContour\].iv
mechanics/flexible_body/beltdrive/track.dat
numerics/nurbsSurface/tnurbs4.ps
numerics/nurbsSurface/tnurbsS.ns
numerics/nurbsSurface/tnurbsS.ps
numerics/nurbsSurface/tnurbsS.wrl
numerics/nurbsSurface/tnurbsS1.ps
numerics/nurbsSurface/torus.wrl
xml/flexible_beam_lumped_mass/data.asc
xml/flexible_spatial_interpolated_nurbs_contour/data.asc
xml/python_mbsimmodule/.mbsimmodule.python.mypytest.xsd
analysis/driven_two_mass_oscillator/inputtable.asc
analysis/driven_two_mass_oscillator/outputtable.asc
analysis/spatial_pendulum/inputtable.asc
analysis/spatial_pendulum/outputtable.asc
analysis/two_mass_oscillator/inputtable.asc
analysis/two_mass_oscillator/outputtable.asc
xml/calculix_body/inputtable.asc
xml/calculix_body/outputtable.asc
xml/flexible_beam_lumped_mass/inputtable.asc
xml/flexible_beam_lumped_mass/outputtable.asc
xml/modal_reduced_beam/inputtable.asc
xml/modal_reduced_beam/outputtable.asc
xml/trailer/inputtable.asc
xml/trailer/outputtable.asc

# ignored *.ombvx files
hydraulics/checkvalve/cornerValves_TimeStepping_FixedPointSingle.ombvx
hydraulics/checkvalve/cornerValves_TimeStepping_GaussSeidel.ombvx
hydraulics/checkvalve/regularizedValves_DOPRI5_LinearEquations.ombvx
hydraulics/checkvalve/regularizedValves_ExplicitEuler_LinearEquations.ombvx
hydraulics/checkvalve/regularizedValves_LSODE_LinearEquations.ombvx
hydraulics/checkvalve/regularizedValves_RADAU5_LinearEquations.ombvx
hydraulics/checkvalve/regularizedValves_TimeStepping_FixedPointSingle.ombvx
hydraulics/checkvalve/regularizedValves_TimeStepping_GaussSeidel.ombvx
hydraulics/checkvalve/regularizedValves_TimeStepping_LinearEquations.ombvx
hydraulics/checkvalve/regularizedValves_TimeStepping_RootFinding.ombvx
hydraulics/controlvalve43/cornerValves_TimeStepping_FixedPointSingle.ombvx
hydraulics/controlvalve43/cornerValves_TimeStepping_GaussSeidel.ombvx
hydraulics/controlvalve43/cornerValves_TimeStepping_LinearEquations.ombvx
hydraulics/controlvalve43/regularizedValves_DOPRI5_LinearEquations.ombvx
hydraulics/controlvalve43/regularizedValves_ExplicitEuler_LinearEquations.ombvx
hydraulics/controlvalve43/regularizedValves_LSODE_LinearEquations.ombvx
hydraulics/controlvalve43/regularizedValves_RADAU5_LinearEquations.ombvx
hydraulics/controlvalve43/regularizedValves_TimeStepping_FixedPointSingle.ombvx
hydraulics/controlvalve43/regularizedValves_TimeStepping_GaussSeidel.ombvx
hydraulics/controlvalve43/regularizedValves_TimeStepping_LinearEquations.ombvx
hydraulics/controlvalve43/regularizedValves_TimeStepping_RootFinding.ombvx
hydraulics/hydline_galerkin/elasticNodes_DOPRI5_LinearEquations.ombvx
hydraulics/hydline_galerkin/elasticNodes_ExplicitEuler_LinearEquations.ombvx
hydraulics/hydline_galerkin/elasticNodes_LSODE_LinearEquations.ombvx
hydraulics/hydline_galerkin/elasticNodes_RADAU5_LinearEquations.ombvx
hydraulics/hydline_galerkin/elasticNodes_TimeStepping_FixedPointSingle.ombvx
hydraulics/hydline_galerkin/elasticNodes_TimeStepping_GaussSeidel.ombvx
hydraulics/hydline_galerkin/elasticNodes_TimeStepping_LinearEquations.ombvx
hydraulics/hydline_galerkin/elasticNodes_TimeStepping_RootFinding.ombvx
hydraulics/hydline_galerkin/rigidNodes_DOPRI5_LinearEquations.ombvx
hydraulics/hydline_galerkin/rigidNodes_ExplicitEuler_LinearEquations.ombvx
hydraulics/hydline_galerkin/rigidNodes_LSODE_LinearEquations.ombvx
hydraulics/hydline_galerkin/rigidNodes_RADAU5_LinearEquations.ombvx
hydraulics/hydline_galerkin/rigidNodes_TimeStepping_FixedPointSingle.ombvx
hydraulics/hydline_galerkin/rigidNodes_TimeStepping_GaussSeidel.ombvx
hydraulics/hydline_galerkin/rigidNodes_TimeStepping_LinearEquations.ombvx
hydraulics/hydline_galerkin/rigidNodes_TimeStepping_RootFinding.ombvx
hydraulics/hydmec_rot/ELASTIC.ombvx
hydraulics/hydmec_rot/RIGID.ombvx
hydraulics/hydmec_trans/ELASTIC.ombvx
hydraulics/hydmec_trans/RIGID.ombvx
hydraulics/relative_hydraulic_proofofconcept/RelHyd.ombvx
hydraulics/rigid_node/_elasticNodes_RADAU5_GaussSeidel.ombvx
hydraulics/simple_network/_elasticNodes_DOPRI5_LinearEquations.ombvx
hydraulics/simple_network/_elasticNodes_ExplicitEuler_LinearEquations.ombvx
hydraulics/simple_network/_elasticNodes_LSODE_LinearEquations.ombvx
hydraulics/simple_network/_elasticNodes_RADAU5_LinearEquations.ombvx
hydraulics/simple_network/_elasticNodes_TimeStepping_FixedPointSingle.ombvx
hydraulics/simple_network/_elasticNodes_TimeStepping_GaussSeidel.ombvx
hydraulics/simple_network/_elasticNodes_TimeStepping_LinearEquations.ombvx
hydraulics/simple_network/_elasticNodes_TimeStepping_RootFinding.ombvx
hydraulics/simple_network/_rigidNodes_DOPRI5_LinearEquations.ombvx
hydraulics/simple_network/_rigidNodes_ExplicitEuler_LinearEquations.ombvx
hydraulics/simple_network/_rigidNodes_LSODE_LinearEquations.ombvx
hydraulics/simple_network/_rigidNodes_RADAU5_LinearEquations.ombvx
hydraulics/simple_network/_rigidNodes_TimeStepping_FixedPointSingle.ombvx
hydraulics/simple_network/_rigidNodes_TimeStepping_GaussSeidel.ombvx
hydraulics/simple_network/_rigidNodes_TimeStepping_LinearEquations.ombvx
hydraulics/simple_network/_rigidNodes_TimeStepping_RootFinding.ombvx
hydraulics/valves/cornerValves_elasticNodes_TimeStepping_FixedPointSingle.ombvx
hydraulics/valves/cornerValves_elasticNodes_TimeStepping_GaussSeidel.ombvx
hydraulics/valves/cornerValves_elasticNodes_TimeStepping_LinearEquations.ombvx
hydraulics/valves/cornerValves_rigidNodes_TimeStepping_FixedPointSingle.ombvx
hydraulics/valves/cornerValves_rigidNodes_TimeStepping_GaussSeidel.ombvx
hydraulics/valves/cornerValves_rigidNodes_TimeStepping_LinearEquations.ombvx
mechanics/basics/mass_spring_rotating_quasi/QuasiStatic.ombvx
mechanics/basics/mass_spring_rotating_quasi/TimeStepping.ombvx
mechanics/contacts/multiple_kinematics/FirstRun.ombvx
mechanics/contacts/self_siphoning_beads/Metallkette.ombvx
mechanics/contacts/self_siphoning_beads/Metallkette_Assembly.ombvx
mechanics/contacts/self_siphoning_beads/Metallkette_PreInit.ombvx
mechanics/flexible_body/block_compression/BlockCompressor.ombvx
xml/tippe_top/TippeTop.ombvx
